<!--header-->
<header class="site-header" role="banner">
  <a href="/">
      <picture class="site-logo">
          <source srcset="/images/de.png, /images/de@2.png 2x">
          <img srcset="/images/de.png, /images/de@2.png 2x" alt="Denislav Ganchev"/>
      </picture>
  </a>
  <nav class="main-nav" role="navigation">
    <ul>
      <li>
        <a href="/blog.html">blog</a>
      </li>
      <li>
        <a href="/notes.html">notes</a>
      </li>
      <li>
        <a href="/contacts.html">contacts</a>
      </li>
    </ul>
  </nav>
</header> <!-- :header -->
