<aside class="element__post--sidebar">
  <div class="element__description--image">
    <img src="/images/de-180.jpg" alt="deno"/>
  </div>
  <p class="element__sidebar--date">published: {{ page.date | date_to_string }}</p>
  <p class="element__sidebar--author">by {{ page.author }}</p>
  <ul class="element__sidebar--share">
    <li>
      <a href="http://twitter.com/denoStc">
        <svg class="icon icon-twitter"><use xlink:href="{{site.url}}/images/icons.svg#icon-twitter"></use></svg>
      </a>
    </li>
    <li>
      <a href="http://github.com/denodenodeno">
        <svg class="icon icon-github"><use xlink:href="{{site.url}}/images/icons.svg#icon-github"></use></svg>
      </a>
    </li>
  </ul>
</aside>
