$element-color: #EEEEEE;
$default-font-color: #555555;
$font-color-strong: #222222;
$secondary-font-color: #AAAAAA;
$link-color: lightblue;
$link-color-visited: lightblue * 1.1;
$nav-color: #999999;
$main-headings-color: #303030;
$secondary-headings-color: #606060;
$posts-date-color: #808080;
$border-color--focus: lightblue;
