.element {
  padding: 3rem 0;
  @include site-border--bottom;
  overflow: hidden;
  clear: both;

  &:last-child {
    border: none;
  }

}

.element__two-col {
  overflow: hidden;
}

.element__description {
  padding-top: 2rem;

  @media screen and (min-width: 55rem) {
    @include span(3 last);
  }
}

.element__description--text {
//  float: left;
  margin: 0 auto;
  text-align: left;

  @media screen and (min-width: 55rem) {
    max-width: 47.5rem;
  }

}

.element__description--image {

   img {
    border-radius: 50%;
  }

}

.element__description--image--home {
  width: 8.75rem;
}

.element__content-loop {
  padding-top: 2rem;
  text-align: left;

  @media screen and (min-width: 55rem) {
    @include span(9);
  }

  h1 {
    margin: 0 0 2rem 0;
    font-size: 2.875rem;
    color: $main-headings-color;

    &:after {
      display: block;
      width: 3rem;
      height: 1px;
      content: "";
      text-align: center;
      background-color: $border-color--focus;
    }

  }
}

.element__posts {
  padding: 0;
  list-style: none;

  .element__posts--single-post {
    margin-bottom: 1.375rem;
  }

  .element__posts--heading {
    margin: 1rem 0 0;

    a {
      color: $secondary-headings-color;
    }

  }

  .element__posts--date {
    margin: 0;
    font-size: 0.75rem;
    color: $posts-date-color;
  }

}

